@import "colors.css";

html,
body {
    height: 100%;
    background-size: cover;
    background: url('/img/rocket-night-v2.jpg') no-repeat center fixed;
}

.navbar-default, .navbar-inverse {
    background: transparent;
    border: none;
}

.navbar-inverse * {
    color: whitesmoke !important;
    background: transparent !important;
}

.navbar-default i.fa {
    margin-right: 0.7em;
}

.navbar-inverse * li ul {
    padding-bottom: 0;
}

.navbar-inverse * li ul li {
    background: slategray !important;
    border-bottom-color: slategray !important;
}

#header {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    color: whitesmoke;
    text-shadow: 1em 1em 1em rgba(0, 0, 0, 1);
}

#main {
    padding: 0 !important;
    margin: 0 !important;
}

#content {
    margin-top: 2em;
}

.post {
    margin-bottom: 2em;
    background-color: white;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
    padding: 1em;
    /*border-top: 10px solid #dddddd;*/
}

.post h2 {
    margin: 0 !important;
    padding: 0 !important;
}

.post hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.post-info {
    width: 100% !important;
    padding-top: 1em;
}

.post-more {
    direction: rtl
}

.post-more-btn {
    margin-right: 1em;
}

.post-more-btn i {
    margin-left: 0.6em;
}

pre {
    overflow-x: auto;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}

.post-date {
    display: inline-block;
    font-weight: bold;
}

.post-title {
    display: inline-block;
    margin: 0 !important;
    padding-bottom: 0.5em;
}

.post-title a {
    text-decoration: none;
}

.post-info a {
    text-decoration: none;
}

.tool {
    padding-right: 10px;
}