<div class="container-fluid" id="main">
    <div id="navbar">
        <nav class="navbar navbar-default">
            <div class="container">
                <%= render 'shared/header' %>
            </div>
        </nav>
    </div>
    <div class="container" id="content">
        <%= render :partial => 'shared/post', :post => @post %>
    </div>
</div>

